<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hooli.work.mapper.WorkDemandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hooli.work.entity.WorkDemand">
        <id column="id" property="id"/>
        <result column="boss_id" property="bossId"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="unit" property="unit"/>
        <result column="place" property="place"/>
        <result column="type_id" property="typeId"/>
        <result column="state" property="state"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <resultMap id="WorkDemandDto" type="com.hooli.work.entity.dto.WorkDemandDto">
        <id column="id" property="id"/>
        <result column="boss_id" property="bossId"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="unit" property="unit"/>
        <result column="place" property="place"/>
        <result column="place_name" property="placeName"/>
        <result column="name" property="typeName"/>
        <result column="state" property="state"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, boss_id, cover_url, title, price, unit, place, type_id, state, is_delete, gmt_create, gmt_modified
    </sql>

    <select id="selectDemandDtoByPage" resultMap="WorkDemandDto">
        SELECT wd.id,wd.boss_id,wd.cover_url,wd.title,wd.price,wd.unit,wd.place,wd.place_name,wt.name,wd.state,wd.is_delete,wd.gmt_create,wd.gmt_modified
        FROM work_demand wd
        LEFT JOIN work_type wt
        on wd.type_id = wt.id
        WHERE wd.is_delete = 0
    </select>

    <select id="selectDemandDtoByUserId" resultMap="WorkDemandDto">
        SELECT wd.id,wd.boss_id,wd.cover_url,wd.title,wd.price,wd.unit,wd.place,wd.place_name,wt.name,wd.state,wd.is_delete,wd.gmt_create,wd.gmt_modified
        FROM work_demand wd
        LEFT JOIN work_type wt
        on wd.type_id = wt.id
        WHERE wd.boss_id = #{userId}
        AND wd.is_delete = 0
    </select>
    <select id="selectDemandDtoByWorkTag" resultType="com.hooli.work.entity.dto.WorkDemandDto">
        SELECT res.id,res.boss_id,res.cover_url,res.title,res.price,res.unit,res.place,res.place_name,wtt.name,res.state,res.is_delete,res.gmt_create,res.gmt_modified
		FROM (SELECT wd.id,wd.boss_id,wd.cover_url,wd.title,wd.price,wd.unit,wd.place,wd.place_name,wd.state,wd.is_delete,wd.gmt_create,wd.gmt_modified,td.tag_id,wd.type_id
		FROM tag_demand td
        INNER JOIN work_demand wd
        WHERE td.demand_id = wd.id) res
        LEFT JOIN work_type wtt
        on res.type_id = wtt.id
		INNER JOIN work_tag wt
		WHERE res.tag_id = wt.id
		AND wt.id = #{workTagId}
		AND res.is_delete = 0
		ORDER BY res.gmt_modified DESC
    </select>


</mapper>
