<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hooli.work.mapper.WorkRecordMapper">

    <!--    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
    <!--    <resultMap id="BaseResultMap" type="com.hooli.work.entity.WorkRecord">-->
    <!--        <id column="id" property="id" />-->
    <!--        <result column="work_demand_id" property="workDemandId" />-->
    <!--        <result column="work_status" property="workStatus" />-->
    <!--        <result column="gmt_work_start" property="gmtWorkStart" />-->
    <!--        <result column="gmt_work_end" property="gmtWorkEnd" />-->
    <!--        <result column="worker_id" property="workerId" />-->
    <!--        <result column="is_delete" property="isDelete" />-->
    <!--        <result column="gmt_create" property="gmtCreate" />-->
    <!--        <result column="gmt_modified" property="gmtModified" />-->
    <!--    </resultMap>-->

        <!-- 通用查询映射结果 -->
        <resultMap id="WorkRecordWithDemand" type="com.hooli.work.entity.vo.WorkRecordVo">
            <id column="id" property="id" />
            <result column="work_demand_id" property="workDemandId" />
            <result column="work_status" property="workStatus" />
            <result column="gmt_work_start" property="gmtWorkStart" />
            <result column="gmt_work_end" property="gmtWorkEnd" />
            <result column="boss_id" property="bossId" />
            <result column="cover_url" property="coverUrl" />
            <result column="title" property="title" />
            <result column="price" property="price" />
            <result column="place" property="place" />
            <result column="unit" property="unit" />
            <result column="place_name" property="placeName" />
            <result column="type_id" property="typeId" />
        </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, work_demand_id, work_status, gmt_work_start, gmt_work_end, worker_id, is_delete, gmt_create, gmt_modified
    </sql>

    <select id="getWorkRecordPageByUserId" resultMap="WorkRecordWithDemand">
        select r.id,r.work_demand_id,r.work_status,r.gmt_work_start,r.gmt_work_end,
        d.boss_id,d.cover_url,d.title,d.price,d.place,d.unit,d.place_name,d.type_id FROM
        work_record r INNER JOIN work_demand d
        ON r.work_demand_id = d.id
        WHERE r.worker_id = #{userId}
        AND r.is_delete = 0
    </select>

</mapper>
